<ion-view title="Instructions">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Jack Squats</h1>
        <div style="border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; height: auto; background-color: rgb(255, 255, 255);">
          <img src="/img/stretching-498256_1280.jpg" style="width: 49%"/>
          <img src="/img/stretching-498256_1280.jpg" style="width: 49%"/>
          <img src="/img/stretching-498256_1280.jpg" style="width: 49%"/>
          <img src="/img/stretching-498256_1280.jpg" style="width: 49%"/>
        </div>
        <div>

        </div>
        <div>
          <ul class="bullet">
          <li class="list-item">Slow down </li>
          <li class="list-item">Explode up</li>
          <li  class="list-item">Toes out </li>
          </ul>
        </div>
        <form class="list">
          <span>
            <ion-checkbox><i class="ion-volume-medium">  Trainer audio</i></ion-checkbox>
            </span>
        </form>
        <a href="#/app/results" class="button button-stable button-block ">Start</a>
    </ion-content>
</ion-view>
