<ion-view title="Instructions">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <h2>Front Squats</h2>

    <div
      style="border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; height: auto; background-color: rgb(255, 255, 255);">
      <img src="/img/stretching-498256_1280.jpg" style="width: 49%"/>
      <img src="/img/stretching-498256_1280.jpg" style="width: 49%"/>
      <img src="/img/stretching-498256_1280.jpg" style="width: 49%"/>
      <img src="/img/stretching-498256_1280.jpg" style="width: 49%"/>
    </div>
    <div>

    </div>
    <div>
      <ul class="list">
        <li class="list-item ion-checkmark"> Tip 1</li>
        <li class="list-item ion-checkmark"> Tip 2</li>
      </ul>
    </div>
    <form class="list">
      <h3 class="list-item">Target: 8 Reps, 135lbs</h3>
            <ion-checkbox class="checkbox-balanced"><i class="ion-volume-medium"> Trainer audio</i></ion-checkbox>
    </form>
    <a href="#/app/results" class="button button-stable button-energized button-block icon-left ion-play">Start</a>
  </ion-content>
</ion-view>
